<!DOCTYPE html>
<html>
  <head>
    <title>Add Vehicle</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
      }

      h1 {
        color: #333;
        text-align: center;
      }

      form {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      label {
        display: block;
        margin-bottom: 10px;
        color: #333;
        font-weight: bold;
      }

      input[type="text"] {
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-bottom: 20px;
      }

      input[type="submit"] {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: #555;
      }
    </style>
  </head>
  <body>
    <h1>Add Vehicle <%=Vehicule> </h1>
    <form action="/addVehicle?value=<%=Vehicule>" method="POST">
      <label for="code">Code_Vehicule:</label>
      <input type="text" id="code" name="code">

      <label for="matricule">Matricule:</label>
      <input type="text" id="matricule" name="matricule">

      <label for="state">State:</label>
      <input type="text" id="state" name="state">

      <label for="marque">Id_Marque:</label>
      <input type="text" id="marque" name="marque">

      <label for="genre">Id_Genre:</label>
      <input type="text" id="genre" name="genre">

      <label for="codeStr">Code_Str:</label>
      <input type="text" id="codeStr" name="codeStr">

      <label for="typeV">Id_Type_V:</label>
      <input type="text" id="typeV" name="typeV">

      <input type="submit" value="Add Vehicle">
    </form>
  </body>
</html>